.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid orange;

  .aboutImg {
    width: 20%;
    height: 20%;

    .imgComp {
      border-radius: 50%;
      border: 1px solid orange;
    }
  }

  .paragraph-content {
    padding: 5%;
    font-family: "Nunito", sans-serif;
    color: whitesmoke;

    .blogPost {
      text-decoration: none;
      color: orange;
      font-size: 1rem;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
    }

    .first-word {
      font-size: 4rem;

      font-weight: 800px;
      font-family: "Nunito", sans-serif;
    }
  }
}

@media only screen and (max-width: 430px) {
  .container-left {
    border-right: none;

    .aboutImg {
      width: 30%;
      height: 30%;
    }
  }
}
