.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 80%;
  margin: auto;
}

.btn-cont {
  padding: 20px;
  .button {
    margin-top: 20px;
    padding: 15px;
    box-shadow: -1px 0px 18px 4px rgba(219, 178, 13, 1);
    border-radius: 50px;
    border: none;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    background-size: 400% 400%;
    background-position: 400%;
    animation: gradient 4s ease infinite;
    color: wheat;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
  }
}

@media only screen and (max-width: 530px) {
  .about-container {
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
  }
}
