.post-list {
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.post {
  margin: auto;
  transition: box-shadow 0.5s ease;
  padding: 1rem;
  display: flex;
  flex-direction: row;

  background-color: white;
  border-radius: 50px;
  cursor: pointer;

  .bodyPost {
    padding: 10px;
    width: 150px;
    height: 150px;

    .blogImg {
      width: 100%;
      height: 100%;
    }
  }

  a {
    text-decoration: none;
    color: darken($color: #000000, $amount: 0);
  }

  .cont-data {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title-post {
      font-family: "Nunito", sans-serif;
      text-align: start;
    }

    p {
      color: #777777;
      font-size: 0.8rem;
      font-family: "Nunito", sans-serif;
      text-align: start;
    }
  }
}

.post:hover {
  box-shadow: 4px 10px 15px 0px orange;
}
