.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .title-cont {
    width: 30%;
    margin-top: 8%;
    display: flex;
    justify-content: center;

    .title {
      list-style: none;

      .name {
        font-family: "Nunito", sans-serif;
        color: blueviolet;
        font-size: 3rem;
        font-weight: bold;
        padding: 1.3rem;
        text-align: center;
      }
      .name-two {
        font-family: "Nunito", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-align: start;
      }
    }
  }

  .img-container {
    width: 20%;
    height: 20%;
    box-shadow: 20px -6px 28px -5px rgba(0, 0, 0, 0.75);
  }
}
