.container {
  //width: 1024px;

  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.contentChildren {
  flex-grow: 1;
  margin-top: 70px;
  min-height: 50vh;
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: auto;
  }
}
