.header {
  padding: 1rem 0 1rem;

  .title {
    color: lightseagreen;
    font-size: 3rem;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
  }

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

    .blogList {
      padding: 10px;
      border-radius: 10%;
      transition: background-color 0.5s ease-in;

      .nav-itemBlog {
        font-size: 1rem;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        color: #d1cac7;
      }
    }
  }
}

.nav-item {
  color: #999999;
  font-size: 1.2rem;
  margin-right: 1.3rem;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.blogList:hover {
  background-color: chocolate;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}
