.header {
  padding: 1rem 0 1rem;

  .title {
    color: blueviolet;
    font-size: 3rem;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
  }

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
}

.nav-item {
  color: #999999;
  font-size: 1.2rem;
  margin-right: 1.3rem;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.nav-itemBlog {
  font-size: 1rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: lightseagreen;
  opacity: 0.5;
}

.nav-itemBlog:hover {
  opacity: 0.9;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}
