.bio-container {
  //display: flex;
  //justify-content: center;
  width: 90%;

  border-top: 1px solid orange;

  .cont-bio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 8px;

    .cont-img {
      width: 100px;
      //height: auto;
      padding-top: 5px;

      img {
        margin-bottom: 0;
        border-radius: 50px;
        border: 1px solid orange;
      }
    }
    .cont-paragraph {
      text-align: justify;
      padding: 5px;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-family: "Nunito", sans-serif;
        margin: 0;
        color: whitesmoke;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .bio-container {
    .cont-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .cont-img {
        width: 80px;
      }
    }
  }
}
